<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <httpRedirect enabled="true" destination="http://letue.asuscomm.com:8080/template1.html" exactDestination="false" childOnly="true" httpResponseStatus="Temporary"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="template1.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <authentication mode="Forms"/>
    <compilation debug="true"/>
  </system.web>
</configuration>